#roadmap-container {
  background: linear-gradient(
    0deg,
    rgba(147, 90, 237, 0.32) 0%,
    rgba(148, 90, 237, 0) 114%
  );
  min-height: 200vh;
  background-color: transparent;
  /* background by SVGBackgrounds.com */
}

/* .card-content-wrapper { */
/* outline: 3px solid theme("colors.accentDark"); */
/* border-radius: 12px;
  padding: 8px; */
/* background-color: theme("colors.accentDark"); */
/* } */

/* .css-1ktfga5-TriangleIconWrapper {
  background-color: theme("colors.accentDark") !important; */
/* } */

div[class*="TimelineVerticalWrapper"],
timeline-main-wrapper {
  overflow-y: visible !important;
}

.vertical_alternating {
  margin-top: 68px;
  overflow: visible !important;
}

.vertical_alternating ::after {
  height: 200% !important;
  top: -87px;
}

.timeline-card-content {
  height: 100% !important;
  /* background-color: red !important; */
}

.card-title {
  font-family: Sora;
  color: #eee !important;
}

.card-description {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 1px !important;
}

.vertical-item-row > div:nth-child(3) {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.timeline-card-content {
  min-height: auto !important;
}
