#navbar-links p:hover {
  color: #ff9def;
  cursor: pointer;
  border-top: #ff9def solid 2px;
  border-bottom: #ff9def solid 2px;
}

.nav-item:hover {
  color: #ff9def;
  cursor: pointer;
  border-top: #ff9def solid 2px;
  border-bottom: #ff9def solid 2px;
}

.navbar-item-in-view {
  border-top: #ff9def solid 2px;
  border-bottom: #ff9def solid 2px;
}
